body, html{
    height: 110%;
}
.form-box button{
    border: none;
    background: linear-gradient(90deg, rgba(2,0,36,1) -20%, rgb(7, 7, 146) 25%, rgba(0,212,255,1) 100%);
    color: white;
    cursor: pointer;
}
.form-box button[type="submit"]:hover{
    background: none;
    border: 2px solid #2331fd;
    color: black;
    cursor: pointer;
}