body, html{
    height: 110%;
}
.form-box .Botones{
    display: inline-flex;
    text-align: left!important;
}
.form-box button[type="submit"]{
    width: 150px;
    margin: 10px ;
    border: none;
    text-align: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) -20%, rgb(7, 7, 146) 25%, rgba(0,212,255,1) 100%);
    color: white;
    cursor: pointer;
}

.form-box button[type="submit"]:hover{
   
    background: none;
    border: 2px solid #2331fd;
    color: black;
    cursor: pointer;
}